@charset "UTF-8";
/*------------------------------*/
/*   Estilos para formulario    */
/*------------------------------*/
.custom-panel .header {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  color: #fff;
  width: 100%;
  height: 30px;
  margin-bottom: 35px;
  margin-top: 75px;
  position: relative;
  background-position-x: right;
}

.custom-panel .header::before {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  height: 30px;
  width: 100px;
  margin-left: 15px;
  background-image: url(./../img/icons/icon_pencil_pc.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-y: left;
}

.custom-panel .header.header--movil {
  display: none;
}

.custom-panel h1,
.custom-panel span {
  color: #3c3c3a;
}

.custom-panel h1.title-panel {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 70px;
}

.custom-panel.custom-panel--yellow .header {
  background-color: #f9bf00;
  background-image: url(../img/panels/head_yellow.png);
}

.custom-panel.custom-panel--green .header {
  background-color: #ccdc27;
  background-image: url(../img/panels/head_green.png);
}

.custom-panel.custom-panel--blue .header {
  background-color: #009ce0;
  background-image: url(../img/panels/head_blue.png);
}

.custom-card.card .list-group > .list-group-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.custom-card.card .list-group > .list-group-item::after {
  content: ">>";
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.custom-card.card .list-group > .list-group-item:last-child::after {
  content: "";
}

.custom-card.card.custom-card--blue .card-header {
  background-color: #009ce0;
  color: #fff;
}

.custom-table {
  width: 100%;
  overflow-x: scroll;
}

.custom-table tr > th {
  border-bottom: 2px solid #b1b1b0;
  font-size: 19px;
  color: #b1b1b0;
}

.custom-table tr > th:first-child {
  padding-left: 10px;
}

.custom-table tr > td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
  border-bottom: 1px solid #ececec;
}

.custom-table tr > td:first-child {
  padding-left: 10px;
  color: #b1b1b0;
}

.custom-table tr > td.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom-table tr > td.location span:last-child {
  font-size: 14px;
}

.custom-table.custom-table--blue tr > th {
  border-color: #009ce0;
  color: #009ce0;
}

.custom-table.custom-table--blue tr > td:first-child {
  cursor: pointer;
  color: #009ce0;
  font-weight: bold;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bar div.divider-green {
  max-width: 850px;
}

div.custom-modal div.modal-body {
  padding: 2rem;
}

div.custom-modal div.modal-body h2,
div.custom-modal div.modal-body p,
div.custom-modal div.modal-body div.custom-head {
  margin-bottom: 25px;
}

div.custom-modal div.modal-body p {
  font-size: 16px;
}

div.custom-modal div.modal-body div.custom-head {
  background-image: url(../img/panels/head_blue.png);
  background-position-x: right;
  width: 100%;
  height: 30px;
  position: relative;
}

div.custom-modal div.modal-body div.custom-head::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 100px;
  background-image: url(./../img/icons/icon_pencil_pc.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-y: left;
}

.super-title {
  margin: auto;
  text-align: center;
}

.super-title::before {
  content: "";
  display: block;
  height: 35px;
  width: 100%;
  background-image: url(../img/icons/smile.png);
  background-repeat: no-repeat;
}

.super-title::after {
  content: "";
  display: block;
  margin-top: 25px;
  height: 35px;
  width: 100%;
  background-image: url(../img/icons/three_icons.png);
  background-repeat: no-repeat;
  background-position: center;
}

.super-title h1 {
  font-weight: 700;
  font-size: 72px;
  color: #3c3c3a;
}

.super-title h1::after {
  content: url(.././img/slider/yellow_dot.png);
  display: inline;
  padding-left: 5px;
}

.super-title span {
  font-size: 24px;
  color: #3c3c3a;
  margin: auto;
  font-weight: 400;
}

.super-title.super-title--green::before {
  background-image: url(../img/icons/smile-green.png);
}

.super-title.super-title--green::after {
  background-image: url(../img/icons/three_icons-green.png);
}

.super-title.super-title--green h1::after {
  content: url(.././img/slider/green_dot.png);
}

.super-title.super-title--ikey-blue::before {
  background-image: url(../img/icons/key-message-blue.png);
}

.super-title.super-title--ikey-blue::after {
  background-image: unset;
}

.super-title.super-title--ikey-blue h1 {
  text-align: center;
  position: relative;
}

.super-title.super-title--ikey-blue h1::after {
  content: url(.././img/slider/blue_dot.png);
  position: absolute;
  right: -20px;
}

section.login form.login-form {
  margin-top: 100px;
  margin-bottom: 300px;
}

section.login form.login-form span {
  font-weight: bold;
  margin-bottom: 10px;
}

section.login form.login-form p {
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
  margin-left: 80px;
}

section.login form.login-form button {
  width: 150px;
  height: 35px;
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  background-color: #ccdc27;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 15px;
}

section.login form.login-form input {
  border-color: #b1b1b0;
  margin-top: 5px;
}

section.login form.login-form div.inp-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 25px;
}

section.login .super-title h1 {
  margin-bottom: unset;
}

section.login .super-title::after {
  display: none;
}

/*---------------------------------------------------*/
/*     Estos estilos son para las paginas    		 */
/*	----   Login Referral y Login Avatar ----        */
/*---------------------------------------------------*/
section.login-avatar div > .super-title {
  margin-top: 100px;
  margin-bottom: 100px;
}

section.login-avatar div > .super-title::after {
  content: unset;
}

section.login-avatar .login-title {
  font-size: 30px;
  font-weight: bold;
}

section.login-avatar .panel-buttons {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section.login-avatar .panel-buttons .buttom {
  margin-left: 20px;
}

section.login-avatar div.divider-green {
  width: 100%;
  height: 20px;
  background-color: #ccdc27;
  background-image: url(../img/slider/green_bar.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

section.login-avatar table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #b1b1b0;
          box-shadow: 0 0 0 1px #b1b1b0;
  /* this draws the table border  */
  overflow: hidden;
}

section.login-avatar table tr {
  height: 39px;
}

section.login-avatar table tr th {
  font-weight: bold;
}

section.login-avatar table tr th,
section.login-avatar table tr td {
  padding: 6px;
}

section.login-avatar table tr th:first-child,
section.login-avatar table tr td:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

section.login-avatar table tr th:last-child,
section.login-avatar table tr td:last-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

section.login-avatar table tr:nth-child(odd) {
  background-color: #fff;
}

section.login-avatar table tr:nth-child(even) {
  background-color: #f2f2f2;
}

section.referral div > label {
  font-weight: bold;
}

section.referral div > .form-control {
  border-color: #b1b1b0;
}

section.referral div > .buttom.button--yellow {
  min-width: 165px;
  height: 50px;
  padding: unset;
}

section.team .yellow-bar {
  margin: auto;
  width: 0px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 2px solid #f9bf00;
}

div.team-caurousel,
div.team-caurousel--desktop {
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

div.team-caurousel div.item-carousel,
div.team-caurousel--desktop div.item-carousel {
  cursor: pointer;
}

div.team-caurousel div.item-carousel img,
div.team-caurousel--desktop div.item-carousel img {
  margin: auto;
}

div.team-caurousel.team-caurousel--movil,
div.team-caurousel--desktop.team-caurousel--movil {
  display: none;
}

button.buttom,
.buttom {
  border: none;
  padding: 15px;
  /*espacio alrededor texto*/
  padding-left: 40px;
  padding-right: 40px;
  background-color: #b1b1b0;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  font-size: 17px;
  font-weight: 700;
  border-radius: 50px;
  /*bordes redondos*/
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

button.buttom:hover,
.buttom:hover {
  color: #fff;
  text-decoration: unset;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.38);
}

button.buttom.button--yellow,
.buttom.button--yellow {
  background-color: #f9bf00;
}

button.buttom.button--green,
.buttom.button--green {
  background-color: #ccdc27;
}

button.buttom.button--red,
.buttom.button--red {
  background-color: #e8232d;
}

button.buttom.button--blue,
.buttom.button--blue {
  background-color: #009ce0;
}

button.buttom.buttom-sm,
.buttom.buttom-sm {
  height: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}

label.upload-cotrol {
  cursor: pointer;
  width: 100%;
  height: 37px;
  border: 1px solid #b1b1b0;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  color: #3c3c3a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label.upload-cotrol:hover {
  color: #fff;
  font-weight: bold;
  background-color: #b1b1b0;
}

input[type="file"].upload-cotrol {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

section.apply-form div > span {
  font-weight: bold;
}

section.apply-form div > h1 {
  font-size: 24px;
  font-weight: bold;
}

section.apply-form div .form-group > .form-control {
  border-color: #b1b1b0;
}

section.apply-form .access-info div > .form-control {
  min-width: 256px;
}

.bar-vertical {
  margin: auto;
  width: 0px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 2px solid #3c3c3a;
}

.bar-vertical.bar-vertical--green {
  border-left: 2px solid #ccdc27;
}

.bar-vertical.bar-vertical--blue {
  border-left: 2px solid #009ce0;
}

.switch-button {
  display: inline-block;
}

.switch-button .switch-button__checkbox {
  display: none;
}

.switch-button .switch-button__label {
  cursor: pointer;
  width: 10rem;
  height: 37px;
  border-radius: 12rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.switch-button .switch-button__label::after {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  content: "No";
  display: block;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  margin-right: 25px;
}

.switch-button .switch-button__label::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 5rem;
  height: 37px;
  background-color: #ccdc27;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  content: "Yes";
  border-right: 3.5px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.switch-button .switch-button__checkbox + .switch-button__label {
  background-color: #e3eb99;
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  content: "No";
  border-left: 3.5px solid #fff;
  border-right: unset;
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:after {
  content: "Yes";
  display: block;
  float: left;
  margin-left: 25px;
  margin-right: unset;
}

section.jobs h1.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

section.jobs h1.title::after {
  content: url(.././img/slider/blue_dot.png);
  padding-left: 5px;
}

section.jobs nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.jobs nav ul.pagination {
  margin-bottom: 20px;
}

section.jobs nav ul.pagination li.page-item.active a.page-link {
  background-color: #009ce0;
  color: #fff;
}

section.jobs nav ul.pagination li.page-item a.page-link {
  border: unset;
  border-radius: unset;
  color: #3c3c3a;
}

section.jobs nav ul.pagination li.page-item a.page-link:hover {
  background-color: #009ce0;
  color: #fff;
}

section.jobs nav ul.pagination li.page-item a.page-link:last-child {
  font-weight: bold;
}

section.jobs div.header {
  margin-bottom: unset;
}

/*
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .slider-jobs h1.title {
    font-size: 30px;
  }
  .slider-jobs::after {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  h1.title {
    font-size: 50px;
  }
  .slider-jobs {
    background-position-x: -190px;
  }
  .slider-jobs a.buttom {
    padding-left: 24px;
    padding-right: 24px;
  }
  section.referral div > img {
    margin-top: 60px;
  }
  div.team-caurousel.team-caurousel--movil {
    display: unset;
  }
  div.team-caurousel--desktop {
    display: none;
  }
  section.login form.login-form {
    margin-top: 50px;
  }
  section.login form.login-form p {
    margin-left: unset;
  }
  section.apply-form .access-info div > .form-control {
    min-width: 100%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .custom-panel .header {
    display: none;
  }
  .custom-panel .header.header--movil {
    display: block;
  }
  .super-title {
    margin-bottom: 50px;
  }
  .super-title h1 {
    font-size: 48px;
  }
  .super-title span {
    font-size: 16px;
  }
  section.login form.login-form {
    margin-top: 50px;
  }
  section.login form.login-form p {
    margin-left: unset;
  }
  section.login form.login-form button {
    margin: auto;
    margin-top: 25px;
  }
  section.login form.login-form div.inp-content {
    padding-left: unset;
  }
  section.jobs table.custom-table {
    margin-bottom: 80px;
  }
  section.login-avatar .login-avatar--form .buttom {
    margin: auto;
    margin-top: 20px;
    width: 200px;
  }
  section.login-avatar .login-avatar--form label.upload-cotrol {
    margin-top: 30px;
  }
  section.login-avatar .panel-buttons {
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* Extra Small Devices, Phones */
/*
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    Custom media queries
*/
/* Set width to make card deck cards 100% width */
/*# sourceMappingURL=style2.css.map */